.root {
    scroll-behavior: smooth;
}

.body {
  background-color: brown;
  color: #fff;
  font-family: monospace;
  margin: 0;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    /*background-color: #000;*/
 /* margin: 1rem; *//*1rem=16px;*/
 /* border: 1px;*/
 background-color: #20232a;
 
 width: 100%;
box-shadow: 0 0 0.0625rem 0.0625rem;
}

.header-nav {
    padding: 1rem 0;
}

.header-conteiner {
    padding: 0 1rem;
}

header-nav__link-logo-container {
    display: flex;
}

.header-nav__link-logo {
    background-color #fff8;
    width:  100;
    height:  32;
}